/* General */
button {
  background-color: #e7e7e7;
  color: black;
  border-radius: 4px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 32px;
  transition-duration: 0.4s;
}
button:hover {
  background-color: #afafaf;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: black;
  font-size: 18px;
  border: 1px solid #ecf0f1;
  border-radius: 4px;
  background: #ecf0f1;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}
ul.navbar li {
  float: left;
}
ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.navbar li a:hover {
  background-color: black;
}
ul.navbar li a.active {
  background-color: #666;
}

/* View Tasks Page */
#task_tbl {
  border: 1px solid black;
  border-collapse: collapse;
}
#task_tbl th,
td {
  padding: 7px;
}
#task_tbl tr:nth-child(even) {
  background-color: #f2f2f2;
}
#task_tbl tr:hover {
  background-color: #ddd;
}

#task_tbl th {
  background-color: #afafaf;
}
